.container__mainLight{
  --color-primary: #3B3B3B;
  --color-secundary: #888888;
  color: var(--color-primary);
}
.container__mainDark{
  --color-primary: #050042;
  --color-secundary: #514E76;
  color: var(--color-primary);
}
.container__main{
  grid-area: left;
  margin-left: 1.5rem;
}

.container__main--temperature img{
  height: 80px;
  width: 80px;
}

.gradeNumber{
  display: inline-block;
  margin: 0;
  font-size: 9rem;
  font-weight: 700;
}

.container__main--city{
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-secundary);
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.container__main--country{
  font-size: 3rem;
  font-weight: 700;
}
.container__main--date{
  color: var(--color-secundary);
  font-size: 1rem;
  font-weight: 400;
  
}

@media screen and (max-width: 880px) {
  .container__main{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gradeNumber{
    font-size: 4rem;
  }
  
  .container__main--city{
    font-size: 1.5rem;
  }

  .container__main--country{
    font-size: 2rem;
  }

  .container__main--date{
    font-size: 0.8rem;
    
  }

  .container__main--temperature {
    display: flex;
    flex-direction: column-reverse;
  }

  .container__main--temperature img{
    display: block;
    margin: auto;
  }
}