.containerFranceLight{
  background-color: rgba(230, 214, 217, 0.8);
  --color-primary: #3B3B3B;
  --color-secundary: #888888;
  color: var(--color-primary);
}

.containerFranceDark{
  background-color: rgba(113, 130, 166, 0.8);
  --color-primary: #050042;
  --color-secundary: #fff;
  color: var(--color-primary);

}

.containerFrance {
  grid-area: france;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerFrance__information{
  text-align: center;
}

.containerFrance h2{
  color: --color-primary;
  font-size: 2rem;
}

.information__city p{
  
  color: var(--color-secundary);
}
.containerFrance__imgRound{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: 10px;
}

.containerFrance__temperature p{
  font-size: 4rem;
  display: inline-block;
}
.containerFrance__temperature img{
  height: 50px;
  width: 50px;
}

.containerFrance__text {
  width: 70%;
  text-align: right;
  color: var(--color-secundary);
}

@media screen and (max-width: 880px) {
  .containerFrance{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .containerFrance__text {
    display: none;
  }

  .containerFrance__information{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .containerFrance__temperature{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}